body {
  font-family: segoe ui light;
  font-size: 12px;
  width: 1000px;
  margin: 0px auto;
}
.class1 {
  background-color: #2fa1b3;
  list-style: none;
  height: 40px;
  width: 958px;
  display: inline-flex;
}
.banner img {
  width: 1000px;
  height: 350px;
}
ul.class1 a {
  color: white;
  display: flex;
  text-decoration: none;
  font-size: 15px;
  transition: 0.3s;
  font-weight: bolder;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 12px;
  padding-left: 12px;
  border-right: 1px solid white;
}
ul.class1 a:hover {
  background-color: rgb(98, 143, 240);
}
.main .left {
  width: 700px;
  background: rgb(247, 243, 243);
  float: left;
}
.main .right {
  width: 300px;
  background: white;
  float: left;
  min-height: 400px;
}

.bottom {
  background-color: rgb(70, 55, 55);
  width: 1000px;
  height: 100px;
  clear: left;
  color: white;
  line-height: 100px;
  text-align: center;
}
.main .left ul li {
  list-style: none;
}
.main .left ul li a h2 {
  text-decoration: none;
  color: black;
}
.main .left ul li img {
  width: 100px;
  height: 100px;
  float: left;
}
.bottom p {
  font-style: normal;
  font-weight: bolder;
}

.main .right img {
  width: 300px;
  height: 450px;
}
.main .right .menu-right ul {
  margin: 0px;
  padding: 0px;
}
.main .right .menu-right ul li {
  list-style: none;
  padding-left: 10px;
  padding-top: 5px;
  font-size: 15px;
  font-style: normal;
  display: block;
}
.main .right .menu-right ul h3 {
  background: rgb(109, 109, 245);
  font-size: 15px;
  height: 40px;
  margin-top: 0px;
  padding-left: 5px;
  padding-top: 10px;
  font-weight: bolder;
  color: black;
  text-indent: 35px;
}
.main .right .menu-right ul li a {
  text-decoration: none;
  color: black;
}
.main .right .menu-right ul li a:hover {
  color: red;
}
